#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    30deg,
    #935f44,
    #c16766,
    #a1427e,
    #7f358e,
    #3c1f76
  );

  color: black;
  font-family: "calibri", sans-serif;
  font-weight: 400;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  background-color: #983d61;
  flex: 0 0 80%;
  max-width: 80%;
}

.quotebutton {
  border: none;
  color: white;
  background: #c16766;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
}

.quotebutton:hover {
  color: #fff6e6;
}

blockquote {
  background: #b6c8d5;
  border-left: 10px solid #2d6a97;
  margin: 1.5rem;
  padding: 0.5rem;
}
